<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SettingModule</key>
	<dict>
		<key>number</key>
		<string>001</string>
		<key>tableCell</key>
		<dict>
			<key>font</key>
			<string>Chalkduster</string>
			<key>size</key>
			<string>16.0</string>
			<key>rgb</key>
			<string>10,10,10,1</string>
		</dict>
	</dict>
	<key>DemoModule</key>
	<dict>
		<key>navBar</key>
		<dict>
			<key>rgb</key>
			<string>0,30,80</string>
		</dict>
		<key>styleView</key>
		<dict>
			<key>rgb</key>
			<string>0,255,255</string>
		</dict>
		<key>label</key>
		<dict>
			<key>font</key>
			<string>Chalkduster</string>
			<key>rgb</key>
			<string>0,0,0</string>
			<key>size</key>
			<string>13.0</string>
		</dict>
	</dict>
</dict>
</plist>
